<h1>Posts (Index Page: delete later)</h1>
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<%= link_to 'New Post', new_post_path %>

<div class="ui divider"></div>


<h1> go to About us Page </h1>
<a href="/about_us">About Us </a>




